{% extends 'base.html' %}
{% block title %}MyTunes{% endblock title %}
{% block css %}
<style>
    .container {
        min-height: 86.5vh;
    }
</style>
{% endblock css %}

{% block body %}<div class="container mt-2">
    <form action="/add-artist/" method="POST">
        {%csrf_token%}
        <h2 class="text-center my-2">Add Artist</h2>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Name">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>{% endblock body %}