{% extends 'base.html' %}
{% block title %}MyTunes - Artists{% endblock title %}
{% block artistactive %}active{% endblock artistactive %}
{% block css %}
<style>
    .container {
        min-height: 86.5vh;
    }
</style>
{% endblock css %}
{% block body %}
<div class="container d-flex align-items-center justify-content-center flex-column">
    {% for artist in artists_with_song_count %}
    <li class="my-2">{{ artist.name }} - {{ artist.song_count }} songs</li>
    {% endfor %}
</div>
{% endblock body %}